/* home section */
.home {
    margin-top: 90px;
    background: linear-gradient(0deg, #dbf0fc 0%, #ffffff 100%);
    display: flex;
    justify-content: space-between;
}

.home .left {
    margin-top: 2rem;
}

.home img {
    background-color: rgb(255, 255, 255);
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
}

.home h2 {
    line-height: 5rem;
    font-size: 50px;
    color: hsl(229.4, 83.6%, 12%);
    ;
}

.home h3 {
    margin-top: 5px;
    margin-bottom: 2rem;
    color: rgb(47, 48, 48);
}

/* CSS */
.button-71 {
    background: rgb(24, 109, 3);;
    border-radius: 60px;
    margin-top: 4rem;
    margin-right: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    padding: 16px 21px;
    transition: all .3s;
}

.button-71:before {
    border-radius: 125px;
    height: 50%;
    transition: all .3s;
    width: 92%;
}

.button-71:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .button-71 {
        padding: 16px 48px;
    }
}

/* missions sections */
.missions{
    background-color: hsl(228, 23.8%, 95.9%);;
}

.missions h2 {
    color: #050e38;
    font-size: 3rem;
    text-align: center;
}

.missions .sub{
    font-size: 1.8rem;
    color: rgb(108, 170, 8);
}
.missions .grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.missions .item {
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 1rem;
    padding-right: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 10px 30px hsla(0, 0%, 0%, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
}

.missions .icon svg{
    fill: #96c4df;
    width: 5rem;
    height: 5rem;
}

.missions .title{
    color: rgb(1, 82, 32);
    font-weight: bold;
    font-size: 1.7rem;
}
.missions .desc{
    font-weight: 600;
    color: rgb(68, 66, 66);
    font-size: 1rem;
}


/* .missions .title{
} */



/* blogs sections */
.blogs{
    background-color: #FEFEFE;
}

.blogs .grid {
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 30px;
}

.blogs .container{
    background-color: white;
    margin-top: 3rem;
    /* padding: 20px; */
    border-radius: 20px;
    box-shadow: 0 10px 50px hsla(0, 0%, 0%, 0.1);
}

.blogs h2 {
    color: #050e38;
    font-size: 3rem;
    text-align: center;
}

.blogs .sub{
    font-size: 1.8rem;
    color: rgb(108, 170, 8);
}

.blogs .container img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 15rem;
}

.blogs .container .title{
    margin-top: 30px;
    margin-bottom: 2rem;
}

.blogs .author{
    padding: 20px;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.blogs .name{
    color: rgb(48, 48, 48);
}

.blogs .time{
    color: #3f4041;
}

.blogs .author img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: rgb(214, 214, 241);
}

/* instructors sections */
.instructors h2 {
    color: #050e38;
    font-size: 3rem;
    text-align: center;
}

.instructors .sub{
    font-size: 1.8rem;
    color: rgb(108, 170, 8);
}

.instructors img {
    margin-top: 3rem;
    background-color: rgb(214, 214, 241);
    border-radius: 10px;
    height: 15rem;
    width: 12rem;
}

.instructors .container {
    color: #5e5e5e;
    font-weight: 900;
    text-align: center;
}
.instructors .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* testimonials */
.testimonials h2 {
    color: rgb(48, 48, 48);
    font-size: 3rem;
    text-align: center;
}

.testimonials .sub{
    font-size: 1.8rem;
    color: rgb(108, 170, 8);
}

.testimonials {
    display: flex;
    gap: 20px;
    background-image: linear-gradient(180deg,#dbf0fc 0%,#ffffff 100%);
}

.testimonials .flex {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.testimonials p{
    font-weight: bold;
    color: rgb(48, 48, 48);;
}

.testimonials img{
    border: rgb(68, 66, 66) 2px solid;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.testimonials .icon {
    fill: pink;
    height: 15rem;
    width: 10rem;
}
