
.header{
    background-color: white;
    height: 74px;
    /* border-top: red 3px solid; */
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.header .ul {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;

}

.header .right {
    width: 30rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.ul a {
    font-size: 1.3rem;
    color: #444;
}

.ul a:hover{
    color: rgb(107, 107, 107);
}

.ul .dashboard {
    display: block;
    flex: 0.85
}

.active a{   
    color: rgb(11, 156, 11);
}

.active svg {
    fill: rgb(11, 156, 11);
}

@media (max-width: 730px) {
    .header .right {
        display: none;
    }
}
